{% extends 'base.html' %}

{% block title %}О компании{% endblock %}

{% block content %}
    <div class="kroshki">
        <ul>
            <li>
                <a href="/">Главная</a>
            </li>
            <li>
                > О Компании
            </li>
        </ul>
    </div><!-- kroshki -->
    
    <div class="content">
        <div class="content_in">
            <div class="left">
                <h1>
                    Грузоперевозки из Китая
                </h1>
                <h2>
                    о компании
                </h2>
                {{ content|safe }}
                
                <h1>
                    Этапы поставки
                </h1>
                    <ul class="str">
                        <li>
                            <span class="nom">1</span>
                            <div class="text">Размещение заказа.</div>
                        </li>
                        <li>
                            <span class="nom">2</span>
                            <div class="text"><p>Финансирование закупок.</p></div>
                                
                        </li>
                        <li>
                            <span class="nom">3</span>
				<div class="text"><p>Контроль качества и отгрузки.</p></div>                            
                        </li>
                        <li>
                            <span class="nom">4</span>
				<div class="text"><p>Доставка товара от двери до двери.</p></div>                            
                        </li>
                        <li>
                            <span class="nom">5</span>
				<div class="text"><p>Таможенное оформление.</p></div>	                            
                        </li>
                    </ul>
            </div>
            <div class="right">
                <div class="sotrudnchat">
                    <h1>Почему Мы?</h1>
                    <ol>
                        <li>
                            <strong>Экспедирование груза</strong> осуществляется по схеме «от двери до двери».
                        </li>
                        <li>
                            Предлагает своим клиентам <strong>широкий спектр решений</strong> по оперативной доставке любых грузов.
                        </li>
                        <li>
                            За время своего существования компания наработала <strong>большой опыт</strong> в решении вопросов логистики.
                        </li>
                        <li>
                            Существенное преимущество компании заключается в глубоком <strong>понимании местных особенностей</strong> и четкой работе специалистов компании.
                        </li>
                        <li>
                            Опираясь на свой опыт, мы предлагаем <strong>индивидуальные решения</strong> по перевозке, работающие в отрасли. 
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div><!-- content -->
    <div class="clear"></div>
    <div class="history">
        <div class="history_in">
            <h1>Этапы развития компании</h1>
            <div class="history_line">
                
                <span class="l1">Год основания нашей компании. Доставлен первый груз тогда ещё единственному клиенту.</span>
                <span class="l2">Наш штат сотрудников составлял 5 человек.</span>
                <span class="l3">Проанализировав ситуацию на рынке, было принято решение сконцентрировать усилия на услуге "Под ключ".</span>
                <span class="l4">Значительное расширение клиентской базы и географии поставок.</span>
                <span class="l5">Открытие собственного логистического подразделения компании.</span>
                <span class="l6">Значительное расширение комплекса финансовых услуг и расширение количества банков, участвующих в схеме торгового финансирования.</span>
            </div>
        </div>
    </div><!-- history -->
{% endblock %}
