{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <div class="main_slider">
        <div class="right_s">
            <ul class="slider">

                <li  style="left:0px;">
                    <div class="slider_in">
                        <div id="uslugi">
                            <a class="main_fon" href="#"></a>
                            <h1>Услуги по поставке товаров «под ключ» </h1>
                            {% for s in services %}
                                <a class="usl u{{ forloop.counter }}" href="/service/{{ s.slug }}"><span>{{ s.title }}</span></a>
                            {% endfor %}
                        </div>
                    </div>
                </li>
                <li style="left:915px;">
                    <div class="slider_in">
                        <div id="gruz">
                            <a class="main_fon" href="/contacts/"></a>
                            <a class="city moskow"><span></span>Москва</a>
                            <a class="city omsk red" ><span></span>Омск</a>
                            <a class="city yrumchi red"><span></span>Урумчи</a>
                            <a class="city habarovsk red"><span></span>Хабаровск</a>
                            <a class="city vladivostok red" ><span></span>Владивосток</a>
                            <a class="city pekin red"><span></span>Пекин</a>
                            <a class="city shanhai red" ><span></span>Шанхай</a>
                            <a class="city guanchgou red" ><span></span>Гунчджоу</a>
                            <div class="forma">
                                <span>Пожалуйста, выберите схему доставки</span>
                                <br />
                                <div class="selected_select">
                                    <select>
                                        <option value="1" selected>Морская/мультимодальная</option>
                                        <option value="2">Сухопутная</option>
                                        <option value="3">Авиа</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="dot">
                <li>
                    <a class="active" href="#"></a>
                </li>
                <li>
                    <a href="#"></a>
                </li>
            </ul>
        </div>
        <div class="left_s">
                <span class="stat">Статистика</span>
                {% for s in stat %}
                    <span class="red">{{ s.parametr }}</span>
                    <span>{{ s.note }}</span>
                {% endfor %}
        </div>
    </div><!-- main_slider -->
    <div class="preimuschestva">
        <div class="preimuschestva_in">
            <ul>
                <li>
                    <h4>Гарантия качества</h4>
                    <span>Постоянный контроль качества производства и поставки </span>
                </li>
                <li>
                    <h4>Лучшая цена</h4>
                    <span>Бюджет на поставку всегда фиксированный. Никаких наценок и доп.расходов
                    </span>
                </li>
                <li>
                    <h4>Доставка всегда  в срок</h4>
                    <span>Срок доставки груза из Китая: Авиа – 8 дней Авто – 22 дней Контейнером – 35 дней</span>
                </li>
            </ul>
        </div>
    </div><!-- preimuschestva -->
    <div class="content">
        <div class="content_in">
                <h1>
                    Добро пожаловать на сайт  Форвард Экспресс!
                </h1>
                <h2>
                    о компании
                </h2>
                {{ content|safe }}
        </div>
    </div><!-- content -->
{% endblock %}
