<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Услуги</title>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery.placeholder.min.js"></script>
		<script>
			jQuery('input[placeholder], textarea[placeholder]').placeholder();
		</script>
    </head>
    <body>
        <div class="wrapper">
			<div class="header">
				<div class="logo">
					<a href="/"><img src="images/logo.png" alt="Forward Express" /></a>
				</div>
				
				<div class="lang">
					<a href="#"><img src="images/ch.png" alt="Chine" />Ch</a>
					<br />
					<a href="#"><img src="images/us.png" alt="USA" />Us</a>
					<br />
					<a href="#"><img src="images/ru.png" alt="Russian" />Ru</a>
				</div>
				
				<div class="clock">
					<ul>
						<li>
							<div class="mos_cl">
								<h5>
									Москва
								</h5>
								<div class="clock_in">
									<span>1</span>
									<span>2</span>
									<span>:</span>
									<span>3</span>
									<span>5</span>
								</div>
							</div>
						</li>
						<li>
							<div class="vlad_cl">
								<h5>
									Владивосток
								</h5>
								<div class="clock_in">
									<span>1</span>
									<span>2</span>
									<span>:</span>
									<span>3</span>
									<span>5</span>
								</div>
							</div>
						</li>
						<li>
							<div class="guan_cl">
								<h5>
									Гуанчжоу
								</h5>
								<div class="clock_in">
									<span>1</span>
									<span>2</span>
									<span>:</span>
									<span>3</span>
									<span>5</span>
								</div>
							</div>
						</li>
					</ul>
				</div>
				
			</div><!-- header -->
			<div class="main_menu">
				<div class="menu_l_bg"></div>
				<div class="menu_r_bg"></div>
				<ul>
					<li>
						<a href="#">Главная</a>
					</li>
					<li>
						<a href="#">О компании</a>
					</li>
					<li>
						<a href="#">Услуги</a>
					</li>
					<li>
						<a href="#">Контакты</a>
					</li>
					<li>
						<a href="#">Заказать сейчас</a>
					</li>
				</ul>
				
			</div><!-- main_menu -->
			<div class="kroshki">
				<ul>
					<li>
						<a href="/">Главная</a>
					</li>
					<li>
						> Услуги
					</li>
				</ul>
			</div><!-- kroshki -->
			
			<div class="content">
				<div class="content_in">
					<div class="left">
						<h1>
							Заказать сейчас
						</h1>
						<h2>
							форма заявки
						</h2>
							<div class="left_in">
								<form>
									<input type="text" name="text" class="w_100" placeholder="Наименование компании" value="Наименование компании" onclick="this.value='';" />
									<input type="text" name="text" class="w_50" placeholder="Страна" value="Страна" onclick="this.value='';" />
									<input type="text" name="text" class="w_50" placeholder="Город" value="Город" onclick="this.value='';" />
									<textarea placeholder="Описание товара" name="text" value="Описание товара" onclick="this.value='';" ></textarea>
									<input type="text" name="text" class="w_100" placeholder="Контактное лицо" value="Контактное лицо" onclick="this.value='';"/>
									<input type="text" name="text" class="w_50" placeholder="Телефон" value="Телефон" onclick="this.value='';"/>
									<input type="text" name="text" class="w_50" placeholder="E-mail" value="E-mail" onclick="this.value='';"/>
									<div class="upload"> Загрузить файл 
										<label class="file_upload">
											<span class="button">Обзор...</span>
											<mark>Файл не выбран</mark>
											<input type="file">
										</label>
									</div>
									<span>* Вы можете приложить к запросу файл с описанием заказа, Например: Упаковочный лист, Инвойс или требование к грузу и поставке</span>
									<button type="submit" name="submit">Отправить</button>
								</form>
							</div>
					</div>
					<div class="right">
						
						<span class="m_60">
							заполните форму обратного звонка и наш  менджер свяжеться с Вами в удобное для Вас время.
						</span>
					</div>
				</div>
			</div><!-- content -->
			<div class="clear"></div>
			<div class="footer">
				<ul class="footer_menu">
					<li>
						<a href="#">Главная</a>
					</li>
					<li>
						<a href="#">О компании</a>
					</li>
					<li>
						<a href="#">Услуги и решения</a>
					</li>
					<li>
						<a href="#">Контакты</a>
					</li>
					<li>
						<a href="#">Заказать сейчас</a>
					</li>
				</ul>
				<div class="footer_in">
					<table>
						<tbody>
							<tr>
								<td>
									<div class="copy">
										® 2013 FORWARDEXPRESS
										<br />
										© Все права защищены
									</div>
								</td>
								<td>
									<div class="phone">
										+7 (495) 514-81-77
									</div>
								</td>
								<td>
									<div class="footer_text">
										Мы компания, которая на протяжении уже более 5 лет профессионально и успешно обеспечивает поставку тысяч различных товаров из Китая и Юго-Восточной Азии в любую точку России, СНГ и мира.
									</div>
								</td>
								<td>
									<div class="soc">
										<ul>
											<li>
												<a href="#"><img src="images/facebook.png" alt="" /></a>
											</li>
											<li>
												<a href="#"><img src="images/vkontakte.png" alt="" /></a>
											</li>
											<li>
												<a href="#"><img src="images/skype.png" alt="" /></a>
											</li>
										</ul>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div><!-- footer -->
		</div><!-- wrapper -->
    </body>
</html>