{% extends 'base.html' %}

{% block title %}О компании{% endblock %}

{% block content %}
    <div class="kroshki">
        <ul>
            <li>
                <a href="/">Главная</a>
            </li>
            <li>
                > Услуги
            </li>
        </ul>
    </div><!-- kroshki -->
    
    <div class="content">
        <div class="content_in">
            <div class="left">
                <h1>
                    Услуги
                </h1>
                <h2>
                    услуги нашей компании
                </h2>
                    <ul class="uslugi">
                        <li>
                            <a href="#">Поиск товара ></a>
                            <span>В этом разделе будет располагаться поиск по товару с возможностью фильтрации товара по необходимым характеристикам, в поисковой выдаче будет показываться товар, который можно будет заказать.</span>
                        </li>
                        <li>
                            <a href="#">Сопровождение сделки ></a>
                            <span>Здесь будет описана услуга по сопровождению сделки.</span>
                                
                        </li>
                        <li>
                            <a href="#">Поставка товаров ></a>
                            <span>На данной странице будет располагаться список городов, куда будут приходить поставки товара.</span>
                            
                        </li>
                        <li>
                            <a href="#">Таможенное оформление ></a>
                            <span>В этом разделе будет располагаться поиск по товару с возможностью фильтрации товара по необходимым характеристикам, в поисковой выдаче будет показываться товар, который можно будет заказать.</span>
                        </li>
                        <li>
                            <a href="#">Контроль качества ></a>
                            <span>Здесь будет описана услуга по сопровождению сделки.</span>
                                
                        </li>
                        <li>
                            <a href="#">Финансирование закупок ></a>
                            <span>На данной странице будет располагаться список городов, куда будут приходить поставки товара.</span>
                            
                        </li>
                    </ul>
                    
                <p>Компания – работает на рынке грузоперевозок с 1999 года. С момента создания компания специализируется на организации доставки грузов из Китая в Россию наземным и морским транспортом. В настоящее время является ведущей компанией в области доставки грузов из Китая со штатом высококвалифицированных специалистов.
                <p>Предлагает своим клиентам широкий спектр решений по оперативной доставке любых грузов, а также минимизации таможенных платежей. За время своего существования компания наработала большой опыт в решении вопросов логистики: от приема и оформления груза до доставки товара на склад клиента.</p>
                
            </div>
            <div class="right">
                <div class="sotrudnchat">
                    <h1>Условия сотрудничества</h1>
                    <h2>как с нами работать?</h2>
                    <ol>
                        <li>
                            <strong>Экспедирование груза</strong> осуществляется по схеме «от двери до двери».
                        </li>
                        <li>
                            Предлагает своим клиентам <strong>широкий спектр решений</strong> по оперативной доставке любых грузов.
                        </li>
                        <li>
                            За время своего существования компания наработала <strong>большой опыт</strong> в решении вопросов логистики.
                        </li>
                        <li>
                            Существенное преимущество компании заключается в глубоком <strong>понимании местных особенностей</strong> и четкой работе специалистов компании.
                        </li>
                        <li>
                            Опираясь на свой опыт, мы предлагаем <strong>индивидуальные решения</strong> по перевозке, работающие в отрасли. 
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div><!-- content -->
{% endblock %}